
<% flat = data.flats[owner] %>






<div class="banner" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');">
</div>

<div class="container">
  <div class="flat-info">
    <div class="owner">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
      <p><%= owner %></p>
    </div>
    <div class="name">
      <h6><%= flat.name %></h6>
      <p><%= flat.city_name %></p>
    </div>
    <div class="important">
      <p>Distance from pub: <%= flat.distance_from_pub %>km</p>
    </div>
    <div class="desc">
      <p><%= flat.description %></p>
      <ul class="list-inline">
      <% flat.rating.times do %>
        <li><i class="fa fa-star"></i></li>
      <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
        <form action="#" >
          <h4>Book this flat</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkin" id="checkin">
              </div>
              <div class="col-xs-6">
                <input type="text" class="form-control" placeholder="checkout">
              </div>
            </div>
          </div>
          <div class="form-group">
            <select name="" id="guests" class="form-control">
              <option value="1">1 guest</option>
              <option value="2">2 guests</option>
              <option value="3">3 guests</option>
            </select>
          </div>
          <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
        </form>
      </div>
  </div>
</div>